<div class='container-fluid p-2 m-2 h-100'>
  <div class='row'>
    <div class='col-md-3'>
      <div>
        <%= render partial: 'settings'%>
      </div>
    </div>
    <div class='col-md-7'>
      <div id='image_holder' class='text-center card h-100 p-2'>
        <%= turbo_stream_from "#{dom_id(current_user)}_main_image" %>
        <turbo-frame id="full_image_area">
          <turbo-frame id="image_maker">
            This will be replaced by the image maker
          </turbo-frame>
        </turbo-frame>
      </div>
    </div>
    <div class='col-md-2'>
      <h5 class='border-bottom pb-2 mb-2'><i class="fas fa-duotone fa-images"></i> Gallery</h5>
      <%= turbo_stream_from "#{dom_id(current_user)}_gallery" %>
      <div id="main_gallery" class="row">
        <%= render partial: '/txt2_imgs/gallery', collection: @gallery %>
      </div>
    </div>
  </div>
</div>